<link href="/css/style.css" rel="stylesheet" type="text/css">

<h2>Hallo <%= req.session.username %></h2>
<h3>Uw email adres is: <%= req.session.email %></h3>

<h3>Foto's die u hebt gemaakt</h3>

<ul class="account">
    <% users.forEach(function(user) { %>
        <li>
            <%= user.filename %>
            <img src="http://localhost:3000/<%= user.caption %>.png" />
            <button type="submit" value="<%= user.filename %>"><%= user.filename %></button>
        </li>
    <% }) %>
</ul>
